<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <a class="nav-item nav-link" routerLink="/booking">Book a Room</a>
        <a class="nav-item nav-link" routerLink="/managebookings">Bookings</a>
    </div>
</nav>

<div class="container">
    <div style="text-align:center">
        <h1>
            
        </h1>
    
    </div>
        <router-outlet></router-outlet>
</div>
